---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="img/img_00.jpg" />
    <meta
      name="description"
      property="og:description"
      content="The different machines I've built for the thrill alone."
    />
    <title>PC Building Experience | Banana Co.</title>
  </head>
  <body>
    <header class="landing-header">
      <Hero
        title="PC Building Experience"
        text="The passion/skill that led to where we are now, is this: my machine-building experience."
        imgSrc="img/img_00.jpg"
      />
    </header>
    <main>
      <Section
        title="'The Machine'"
        text="Kitted with a Ryzen 7 2700x, an RTX 3080 STRIX, 32GB of RAM, and enough lighting to make it shine more than ever on my desktop. This is my personal build, perfectly represented by the Banana Co. themed lighting. Not only did this machine teach me PC repair and troubleshooting, but it also taught me discipline and patience. Having a good anything takes time; I learned that from starting with an RX 460. Yikes, I know... "
        imagePosition="right"
        imgSrc="img/img_01.jpg"
        imgAlt="Img Alt"
      />

      <Section
        title="First Steps"
        text="The first ever computer I have had the pleasure of putting together. Specs were questionable: Ryzen 5, 8GB of RAM, and no graphics card. But I made it work for the family computer. Parents got their bills done, and I got to log onto GMod and finally relax for the day."
        imagePosition="left"
        imgSrc="img/img_02.jpg"
        imgAlt="Img Alt"
      />

      <Section
        title="Smithsonian"
        text="Built for my good friend Smith, this machine was built with Frankenstein parts and BestBuy discoveries. My old Ryzen 3, 16GB of RAM, MSI Motherboard, 850W power supply, along with the case and all the rgb fans I had in my closet. Just so he could play Arc Raiders with us, it was worth it."
        imagePosition="right"
        imgSrc="img/img_03.jpg"
        imgAlt="Img Alt" 
      />

      <Section
        title="Paul Bunyan"
        text="Paul needed an upgrade, so he bought it. I installed it. New Gigabyte motherboard, 2 sticks of DDR5 16GB RAM, new Ryzen 5, and a new 850W power supply. Not only great practice for me, but I was able to show Paul how building a PC goes and what to do if he ever experiences certain issues or failures."
        imagePosition="left"
        imgSrc="img/img_04.jpg"
        imgAlt="Img Alt"
      />
    </main>
  </body>
  <Footer
    title="PC Building Experience"
    address="Click here to see the drive with the photos for these PCs, and evolution history for 'The Machine'"
    text="PC Builds | CODENAME: ATLAS"
  />
</html>
